body {
    font-family: sans-serif;
    background-color: #f7f9fa;
    padding: 20px;
  }
  h1{
    text-align: center;
    color: #333;
  }
  form {
    background-color: #fff;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
  }
  label {
    display: block;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  textarea,
  select {
      width: 90%;
      padding: 8px;
      margin-bottom: 12px;
  
  }
  button {
    text-align: left;
    padding: 10px 20px;
    background-color: #0053ba;
    cursor: pointer;
  }